*.o
*.so
*.lib
*.d
*.a
*bak.*

.bin
.out
.log
.logs
.build
.svelte-kit

bin
out
log
logs
build
node_modules

compile_commands.json

# specific this root
/.vscode/tasks.json
/.vscode/launch.json
/.vscode/settings.json
/package-lock.json
/bun.lock
/bun.lockb
/deno.lock

/public
/static
